<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/app.css" type="text/css" />
        <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
        <title>{{{block "page-title"}}}</title>
    </head>
    <body>
        {{{body}}}
        
        <script type="text/javascript" src="/js/third-party/jquery-3.2.0.min.js"></script>
        <script type="text/javascript" src="/js/third-party/tether.min.js"></script>
        <script type="text/javascript" src="/js/third-party/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/app/app.js"></script>
        <script type="text/javascript" src="/js/app/page.js"></script>
        <script type="text/javascript" src="/js/app/pages/menu.js"></script>
        <script type="text/javascript" src="/js/app/pages/bands.js"></script>
        <script type="text/javascript" src="/js/app/pages/login.js"></script>
        <script type="text/javascript" src="/js/app/pages/main.js"></script>
        <script type="text/javascript" src="/js/app/pages/register.js"></script>
        <script type="text/javascript" src="/js/app/pages/registerBand.js"></script>
        <script type="text/javascript" src="/js/app/pages/band.js"></script>
        <script type="text/javascript" src="/js/app/pages/friends.js"></script>
        
        <script type="text/javascript">
            /* global LoginPage */
            
            /** RUNTIME **/
            var myApp = new App();
            myApp.init({{{block "page-constructor"}}});
        </script>
    </body>
</html>