{{#contentFor "page-title"}}Add Friend{{/contentFor}}
{{#contentFor "page-constructor"}}AddFriendPage{{/contentFor}}
<div id="addFriendPage" class="page">
    <div class="menu-button-container"></div>
    <h1>search musicians</h1>
    <div class="container">
        <form class="search-user">
           <div class="input-group col-xs-2">
                <input type="text" class="form-control" placeholder="Username" name="searchString" id="search-users">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="friends"></div>
    </div>
    <div class="container">
    	<div class="friend-modal"></div>
    </div>
</div>