{{#contentFor "page-title"}}Applications{{/contentFor}}
{{#contentFor "page-constructor"}}ApplicationsPage{{/contentFor}}
<div id="applicationsPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Applications</h1>
    <div class="container">
        <div class="applications"></div>
    	<div class="application-modal">
    	    <div data-application-id="" data-application-status="" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div classs="application-description"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="dynamic-buttons"></div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>