{{#contentFor "page-title"}}Band{{/contentFor}}
{{#contentFor "page-constructor"}}BandPage{{/contentFor}}
<div id="bandPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Band</h1> 
    <div class="actions container">
		<div class="action applications btn btn-secondary">
		    <div class="fa fa-pencil-square-o icon"></div>
		    <div class="label">Applications</div>
		</div>		
        <div class="action inventory btn btn-secondary">
            <div class="fa fa-th icon"></div>
            <div class="label">Inventory</div>
        </div>
        <div class="action store btn btn-secondary">
            <div class="fa fa-money icon"></div>
            <div class="label">Store</div>
        </div>
		<div class="action setlists btn btn-secondary">
		    <div class="fa fa-music icon"></div>
		    <div class="label">Set Lists</div>
		</div>		
		<div class="action songs btn btn-secondary">
		    <div class="fa fa-music icon"></div>
		    <div class="label">Songs</div>
		</div>
        <div class="band card"></div>
	</div> 
</div>