{{#contentFor "page-title"}}Login{{/contentFor}}
{{#contentFor "page-constructor"}}LoginPage{{/contentFor}}
<div id="loginPage" class="page">
    <h1>Bands</h1>
    <div class="container">
        <h2>My Bands</h2>
        <div class="bands"></div>
    </div>
    <div class="container">
        <button class="btn btn-primary">Register Band</button>
    </div>
</div>