{{#contentFor "page-title"}}Bands{{/contentFor}}
{{#contentFor "page-constructor"}}BandsPage{{/contentFor}}
<div id="bandsPage" class="page">
    <h1>Bands</h1>
    <div class="container">
        <h2>My Bands</h2>
        <div class="bands"></div>
    </div>
    <div class="container">
        <button class="register-band btn btn-primary">Register Band</button>
    </div>
</div>