{{#contentFor "page-title"}}Band{{/contentFor}}
{{#contentFor "page-constructor"}}BandPage{{/contentFor}}
<div id="bandPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Band</h1> 
    <div class="container">
        <div class="band card"></div>
    </div> 
    <div class="actions">
		<div class="action applications btn btn-secondary">
		    <div class="fa fa-pencil-square-o icon"></div>
		    <div class="label">Applications</div>
		</div>
	</div> 
	<div class="actions">
		<div class="action applications btn btn-secondary">
		    <div class="fa fa-pencil-square-o icon"></div>
		    <div class="label">Applications</div>
		</div>
	</div> 
</div>