{{#contentFor "page-title"}}Band{{/contentFor}}
{{#contentFor "page-constructor"}}BandPage{{/contentFor}}
<div id="bandPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Band</h1>
    <div class="container">
        <div class="band card"></div>
    </div>
</div>