{{#contentFor "page-title"}}Edit Set List{{/contentFor}}
{{#contentFor "page-constructor"}}EditSetListPage{{/contentFor}}
<div id="editSetListPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Edit Set List</h1>
    <div class="container">
        <form class="listForm">
            <label for="listName">List Name</label>
            <input type="text" class="listName" name="listName" />
            <div class="songs"></div>
        </form>
    </div>
</div>