{{#contentFor "page-title"}}Events{{/contentFor}}
{{#contentFor "page-constructor"}}EventsPage{{/contentFor}}
<div id="eventsPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Songs</h1> 
    <div class="container">
        <button type="button" class="add-event btn btn-primary">
            <div class="fa fa-plus"></div> Add New Event
        </button>
    </div>
    <div class="container mt-2">
        <input type="text" class="search form-control" placeholder="search" />
    </div>
    <div class="container mt-1">
        <ul class="event-list list-group"></ul>
    </div>
    <div class="event-modal">
	    <div data-event-id="" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <h4 class="modal-title">Edit Event</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" name="event-id" value="">
                            <div class="form-group">
                                <label for="title">Event Title</label>
                                <input class="form-control" type="text" name="title" placeholder="Enter title" />
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" name="event-date">
                            </div>
                            <div class="form-group">
                                <label for="time">Event Time</label>
                                <input type="time" name="event-time">
                            </div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input class="form-control" type="text" name="location" placeholder="Enter location">
                                <div class="map"></div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="is-show">
                                    Event is a show
                                </label>
                            </div>
                            <div class="form-group show-dependent">
                                <label for="time">Load In Time</label>
                                <input type="time" name="load-in-time">
                            </div>
                            <div class="form-group show-dependent">
                                <label for="time">Venue</label>
                                <input type="text" name="venue" placeholder="Enter venue">
                            </div>
                            <div class="form-group members-parent">
                                <h5>Members</h5>
                                <div class="members"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="delete-event btn btn-danger">Delete Event</button>
                        <button type="button" class="notify-members btn btn-info">Notify Members</button>
                        <button type="button" class="save-event btn btn-success">Save Event</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>