{{#contentFor "page-title"}}Friends{{/contentFor}}
{{#contentFor "page-constructor"}}FriendsPage{{/contentFor}}
<div id="friendsPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Friends</h1>
    <div class="container">
        <div class="add-friend">
			<div class="card" style="background-color: #B291A2; border-color: #0E0A0C; width: 50rem; cursor: pointer;">
                <div class="card-block">
                	<h4 class="card-title">
                		<span>Connect with other musicians.</span>
                		<div class="fa fa-plus icon fa-lg pull-right"></div>
        			</h4>
                </div>
            </div>
            <p/>
        </div>
    </div>
    <div class="container">
        <div class="friends"></div>
    </div>
    <div class="friend-modal">
	    <div data-friend-id="" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div classs="friend-description"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="dynamic-buttons"></div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>