{{#contentFor "page-title"}}Inventory{{/contentFor}}
{{#contentFor "page-constructor"}}InventoryPage{{/contentFor}}
<div id="inventoryPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Merchandise Inventory</h1>
    <div class="container">
        <div class="inventory"></div>
    </div>
    <div class="container">
        <button class="add-merch btn btn-primary">Add Merchandise</button>
    </div>
</div>