{{#contentFor "page-constructor"}}LoginPage{{/contentFor}}
<div id="loginPage" class="page">
    <form class="loginForm" onsubmit="return">
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="Username" />
            <input class="form-control" type="password" name="password" placeholder="Password" />
            <button class="btn btn-primary" type="submit" name="submit">
                Login
            </button>
        </div>
    </form>
</div>