{{#contentFor "page-title"}}Main{{/contentFor}}
{{#contentFor "page-constructor"}}MainPage{{/contentFor}}
<div id="mainPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Welcome to BANDAPP, <span class="username"></span></h1>
    <div class="actions">
        <div class="action profile btn btn-secondary">
            <div class="fa fa-address-card icon"></div>
            <div class="label">Profile</div>
        </div>
        <div class="action friends btn btn-secondary">
            <div class="fa fa-group icon"></div>
            <div class="label">Friends</div>
        </div>
        <div class="action add-friends btn btn-secondary">
            <div class="fa fa-group icon"></div>
            <div class="label">Add Friends</div>
        </div>
        <div class="action notifications btn btn-secondary">
            <div class="fa fa-bell icon"></div>
            <div class="label">Notifications</div>
        </div>
        <div class="action bands btn btn-secondary">
            <div class="fa fa-bus icon"></div>
            <div class="label">Bands</div>
        </div>
        <div class="action search-bands btn btn-secondary">
            <div class="fa fa-search icon"></div>
            <div class="label">Search Bands</div>
        </div>
    </div>
</div>