{{#extend "base"}}
{{#content "body"}}
    <div id="mainPage" class="page">
        <h1>Welcome to BANDAPP, (name)</h1>
        <div class="actions">
            <div class="action profile btn btn-secondary">
                <div class="fa fa-address-card icon"></div>
                <div class="label">Profile</div>
            </div>
            <div class="action friends btn btn-secondary">
                <div class="fa fa-group icon"></div>
                <div class="label">Friends</div>
            </div>
            <div class="action notifications btn btn-secondary">
                <div class="fa fa-bell icon"></div>
                <div class="label">Notifications</div>
            </div>
            <div class="action bands btn btn-secondary">
                <div class="fa fa-bus icon"></div>
                <div class="label">Bands</div>
            </div>
        </div>
    </div>
{{/content}}
{{#content "page-constructor}}MainPage{{/content}}
{{/extend}}