{{#contentFor "page-title"}}Notifications{{/contentFor}}
{{#contentFor "page-constructor"}}NotificationsPage{{/contentFor}}
<div id="notificationsPage" class="page">
    <h1>SO MANY NOTIFIES</h1>
</div>