{{#contentFor "page-title"}}Notifications{{/contentFor}}
{{#contentFor "page-constructor"}}NotificationsPage{{/contentFor}}
<div id="notificationsPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Notifications</h1>
    <div class="container">
        <div class="notifications"></div>
    </div>
</div>