{{#contentFor "page-title"}}Register Band{{/contentFor}}
{{#contentFor "page-constructor"}}RegisterBandPage{{/contentFor}}
<div id="registerBandPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Register New Band</h1>
    <form class="registerForm" onsubmit="return">
        <div class="form-group">
            <input required class="form-control" type="text" name="bandName" placeholder="Band Name" />
            <input required class="form-control" type="text" name="description" placeholder="Band Description" />
            <input required class="form-control" type="text" name="genre" placeholder="Genre" />
            <button class="btn btn-primary" type="submit" name="submit">
                Register
            </button>
        </div>
    </form>
</div>