{{#contentFor "page-title"}}Set Lists{{/contentFor}}
{{#contentFor "page-constructor"}}SetListsPage{{/contentFor}}
<div id="setListsPage" class="page">
    <div class="menu-button-container"></div>
    <h1>Set Lists</h1> 
    <div class="container controls">
        <button type="button" class="add-set-list btn btn-primary">
            <div class="fa fa-plus"></div> Add New Set List
        </button>
    </div>
    <div class="container">
        <div class="lists"></div>
    </div>
</div>