html, body, .page{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.animation-spin {
    -webkit-animation-name: animation-spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: animation-spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: animation-spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
@-moz-keyframes animation-spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes animation-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes animation-spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.page {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#78478c+0,470c56+99 */
    background: #78478c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNzg0NzhjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjNDcwYzU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(-45deg, #78478c 0%, #470c56 99%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#78478c), color-stop(99%,#470c56)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(-45deg, #78478c 0%,#470c56 99%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(-45deg, #78478c 0%,#470c56 99%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(-45deg, #78478c 0%,#470c56 99%); /* IE10 preview */
    background: linear-gradient(135deg, #78478c 0%,#470c56 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78478c', endColorstr='#470c56',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.btn{
    cursor: pointer;
}

h1, h2{
    color: #fff;
    margin: 20px;
}

#loginPage form {
    width: 320px;
    min-height: 180px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-width: 1px;
    border-style: solid;
    border-color: #777;
    border-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    overflow: auto;
}

#loginPage form input {
    margin-bottom: 10px;
}
#loginPage form [type=submit]{
    cursor: pointer;
    float: right;
}

#mainPage .actions {
    margin: 20px;
}
#mainPage .action{
    cursor: pointer;
}

#registerPage form {
    width: 320px;
    min-height: 180px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-width: 1px;
    border-style: solid;
    border-color: #777;
    border-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    overflow: auto;
}

#registerPage form input {
    margin-bottom: 10px;
}
#registerPage form [type=submit]{
    cursor: pointer;
    float: right;
}

#registerBandPage form {
    width: 320px;
    min-height: 180px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-width: 1px;
    border-style: solid;
    border-color: #777;
    border-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    overflow: auto;
}

#registerBandPage form input {
    margin-bottom: 10px;
}
#registerBandPage form [type=submit]{
    cursor: pointer;
    float: right;
}

#bandsPage .band{
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

.menu-button-container{
    padding: 20px 0 0 15px;
}

#menuOverlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    
    background-color: rgba(255,255,255,0.5);
}

#menuOverlay .menu{
    width: 258px;
    height: 100%;
    background-color: lavender;
    overflow-x: hidden;
    overflow-y: scroll;
}

#menuOverlay .menu .menu-section:last-child{
    padding-bottom: 20px;
}

#menuOverlay.hidden{
    display: none;
}
#menuOverlay .home{
    float: left;
}
#menuOverlay .profile{
    float: left;
    margin-left: 25px;
    cursor: pointer;
}
#menuOverlay .profile-name{
    text-align: center;
    transition: all .2s ease-in-out;
}
#menuOverlay .profile-img{
    border-radius: 60px;
    width: 120px;
    height: 120px;
    transition: all .2s ease-in-out;
}
#menuOverlay .profile:hover .profile-img{
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.25);
}
#menuOverlay .profile:hover .profile-name{
    text-shadow: 0 0 1px rgba(0,0,0,0.25);
}
#menuOverlay .profile-section{
    padding-top: 20px;
    padding-bottom: 20px;
}
#menuOverlay .band-profile-section{
    padding: 20px 0;
}

#menuOverlay .band-profile-section:hover .band-profile{
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.25);
}

#menuOverlay .band-profile{
    height: 150px;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#bandPage h2{
    color: inherit;
}

#bandPage .actions {
    padding-bottom: 10px;
}

#friendsPage .card{
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px; 
    cursor: pointer;
}

#addFriendPage .search-user{
    margin: 0 auto 10px auto;
}

#addFriendPage .card{
    margin: 0 auto 10px auto;
    cursor: pointer;    
}

#searchBandsPage .search-form{
    margin: 0 auto 10px auto; 
}

#searchBandsPage .band{
    margin: 0 auto 10px auto;
    cursor: pointer;
}

#searchBandsPage .band-modal .dynamic-buttons button {
    margin-right: 0.25rem;
}

#notificationsPage .notification {
    display: block;
}
#applicationsPage .application{
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

#addMerchPage form {
    width: 500px;
    min-height: 180px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-width: 1px;
    border-style: solid;
    border-color: #777;
    border-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    overflow: auto;
}

#addMerchPage form input {
    margin-bottom: 10px;
}

#addMerchPage form select {
    margin-bottom: 10px;
}

#addMerchPage form [type=submit]{
    cursor: pointer;
    float: right;
}

#addMerchPage form [name=addInventory] {
    float: left;
}

#addMerchPage form [name=quantity] {
    margin-bottom: 20px;
}

#addMerchPage form [name=merchType] {
    margin-bottom: 20px;
}

#inventoryPage .card {
    float: none;
    max-width: 200px; 
    margin: 10px;
    display: flex;
}

#inventoryPage .row {
    margin: 20px;
}

#inventoryPage .btn-delete {
    float: right;
}
#storePage .btn-add-to-cart{
    display: block; 
    margin: 0 auto;
}
#storePage .card {
    float: none;
    max-width: 200px; 
    margin: 10px;
    display: flex;
}

#storePage .row {
    margin: 20px;
}
#storePage .cart-image-container{
    width: 100px;
    height: 100px;
}
#storePage .cart-item-container img{
    position: relative;
}
#storePage th{
    width: 200px;
}
#songsPage .song.search-hidden{
    display: none;
}
#setListsPage .modal .song-check-label{
    display: block;
    height: 24px;
    margin: 0;
}
#setListsPage .modal .song-check-label:nth-child(odd){
    background-color: #e5e5e5;
}
#setListsPage .modal .song-check-label.search-hidden{
    display: none;
}
#setListsPage .set-list.search-hidden{
    display: none;
}

